<title>Sweep a Bitcoin Private Key</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css">
    
    <style>
        body{
            padding: 20px;
        }
        h1{
            color: #fff;
        }
        input.form-control{
            width: 500px;
        }
        .panel-default{
            margin: 5px;
        }
    </style>
</head>
    <nav class="navbar navbar-default">
  
<h1>SweepKey.org</h1>
     
    </nav>