
<!DOCTYPE html>
<html>
<head>
<% include ../partials/header %>
<h2>Sweep a Bitcoin private key to a new address.</h2>

   
<form method="post" action="/address">
	<input type="text" class="form-control" name="pkey" id="pkey" placeholder="Enter a Private Key" required>
	<input type="text" class="form-control" name="addy" placeholder="Destination Address" required>
	<input type="submit" class="btn btn-success" name="send_funds" value="TRANSFER ALL FUNDS">
</form>
    <div class="panel panel-default">
  <div class="panel-body">
    <%= outMessage %>
  </div>
</div>
<div class="alert alert-dismissible alert-danger" id="feeWarn">
  <a href="#" onclick="document.getElementById('feeWarn').style.display='none';return false;" class="close" data-dismiss="alert">X</a>
  <strong>Fees Notice:</strong><br> <a href="#" class="alert-link">Every transaction is sent with a 20 satoshi per byte mining fee.
</div>
    <br>
    <div class="alert alert-dismissible alert-warning" id="pkeyWarn">
        <a href="#" onclick="document.getElementById('pkeyWarn').style.display='none';return false;" class="close" data-dismiss="alert">X</a>
  <h4>Warning!</h4>
  <p>Although sweepkey does not save, store, or 
log any private keys, it is very important not to re-use a private key of an address entered on this site. 
Whenever entering a private key into any online form you should assume that address is no longer safe.</p>
</div>
<br>
<a href="https://github.com/coinables/sweepkey">View Source on GitHub</a>
<br>
<script>
if (location.protocol != 'https:')
{
 location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
}
</script>
<br>    
<img src="http://chart.googleapis.com/chart?chs=125x125&cht=qr&chl=1NPrfWgJfkANmd1jt88A141PjhiarT8d9U">
    <br>
    1NPrfWgJfkANmd1jt88A141PjhiarT8d9U
    <br>
<div id="notifications"></div>
<script>
var address = "1NPrfWgJfkANmd1jt88A141PjhiarT8d9U";
var btcs = new WebSocket('wss://ws.blockchain.info/inv');
btcs.onopen = function(){
    btcs.send(JSON.stringify({"op":"addr_sub", "addr":address}));
};
btcs.onmessage = function(onmsg)
{
  var response = JSON.parse(onmsg.data);
  var getOuts = response.x.out;
  var countOuts = getOuts.length; 
  for(i = 0; i < countOuts; i++)
  {
    //check every output to see if it matches specified address
    var outAdd = response.x.out[i].addr;
    var specAdd = address;
       if (outAdd == specAdd)
       {
       var amount = response.x.out[i].value;
       var calAmount = amount / 100000000;
       document.getElementById("notifications").innerHTML = "Received: " + calAmount + "BTC";
       };
  }; 
}
</script>
</html>